@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html{
    background-color: rgb(4, 170, 247);
	font-family: 'Orbitron', sans-serif;
}

h1{
	text-shadow: 0.1em 0.1em 0.2em rgb(4, 170, 247);
}

#Calculadora {
    background-color: rgba(255, 255, 255, 0.918);
    width: 480px;
    height: 450px;
    margin-left: 40%;
    margin-top: 13%;
	padding-top: 5px;
	padding-bottom: 15px;
    border-radius: 20px;
	box-shadow: 10px 10px 5px black;
}

#resultado {
	box-shadow: inset 1px 1px 1.8px 1.8px black;
	font-family: 'Orbitron', sans-serif;
    margin:8px auto;
	width: 78.2%;
	height:30px;
	font-size: 25px;
	text-align: right;
	color:rgb(0, 0, 0);
	padding: 5px;
	padding-bottom: 34px;
    margin-left: 47px;
	background-color:#fff;
	text-shadow: 0.1em 0.1em 0.2em rgb(4, 170, 247);
}
li {
    width: 90px;
	height:50px;
	border-radius:3px;
	color:white;
	background-color:black;
	cursor:pointer;
	float:left;
	margin: 0px -3px 5px 8px;
	line-height: 30px;
	text-align: center;
	box-shadow: 0px 3px 4px 0px #444651; 
	list-style: none;
}

li:hover{
    background-color: rgb(4, 170, 247);
}
li:active{
    box-shadow: 0px 1px 1px 0px #444651;
}
h1 {
    text-align: center;
}

#Botao_Calcular {
    width: 375px;
}